
body {
   font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}
.container {
            width: 80%;
            height: 60%;
            margin: 10% auto 0;
            background-color: #f0f0f0;
            padding: 2% 5%;
            border-radius: 10px;
            text-align: center;
        }

.input-container {
    margin-bottom: 20px;
    display: flex;
    align-items: center;
}

#userInput {
    width: 70%;
    padding: 10px;
    font-size: 18px;
    border: 1px solid #ccc;
    border-radius: 10px;
}

.char-count {
    color: #777;
    font-size: 14px;
    margin-left: 10px; /* 调整字符计数与输入框的距离 */
}

.purple-button {
    background-color: purple;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 10px;
}

.purple-button:hover {
    background-color: #800080;
}

.output-container {
    text-align: left; /* 左对齐 */
}

.chart-container {
    width: 100%;
    margin-top: 10px;
    display: none;
}

.chart-bar {
    height: 20px;
    border-radius: 10px;
    margin-top: 5px;
    display: flex;
    align-items: center;
}

.chart-bar .bar {
    height: 100%;
    border-radius: 10px;
}

.chart-bar .percentage {
    margin-left: 10px;
    color: #777;
}
javascript