

body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
            width: 80%;
            height: 60%;
            margin: 10% auto 0;
            background-color: #f0f0f0;
            padding: 2% 5%;
            border-radius: 10px;
            text-align: center;
        }


.input-container {
    margin-bottom: 20px;
    display: flex; /* 使用 flex 布局 */
    justify-content: center; /* 水平居中 */
    align-items: center; /* 垂直居中 */
    gap: 20px; /* 增加水平外边距 */
}

#userInput {
    width: 50%; /* 调整输入框宽度 */
    padding: 10px;
    font-size: 18px;
    border: 1px solid #ccc;
    border-radius: 10px; /* 添加圆角 */
}

.purple-button {
    background-color: purple;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 10px; /* 添加圆角 */
}

.purple-button:hover {
    background-color: #800080;
}

.output-container {
    text-align: center;
}

.chart-container {
    width: 100%;
    height: 20px;
    background-color: #f0f0f0;
    margin-top: 10px;
    border: 1px solid #ccc;
    position: relative;
    border-radius: 10px; /* 添加圆角 */
}

.chart-bar {
    height: 100%;
    width: 0;
    background-color: purple;
    transition: width 0.3s;
    border-radius: 10px; /* 添加圆角 */