   .container {
            width: 60%;
            margin: 10% auto 0;
            background-color: #f0f0f0;
            padding: 2% 5%;
            border-radius: 10px
        }

#icons {  
            display: flex;  
            justify-content: center;  
            align-items: center;  
            gap: 50px;  
        }  
    .icon {  
            font-size: 50px;  
            cursor: pointer; 
            display: flex;  
            justify-content: center;  
            align-items: center;  
            gap: 50px;  
             }  
             