body {
    margin: 10px;
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

/* 去除所有超链接的下划线 */  
a {  
    text-decoration: none;
    color: black;  
  }

.main-container {
    flex: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container{
    flex: 1;
    width: 70%; /* 在大屏幕上限制为70%宽度 */
    margin: 10px;
    padding: 20px;
    box-sizing: border-box;
    background-color: #f2f2f2;
}

.two-columns {
    display: grid;
    gap: 20px; /* 保留原有的两列展示方式 */
}

.timer {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 150%;
    color: purple;
    background: #f2f2f2;
    width: 100%;
    height: 80px;
    text-align: center;
    line-height: 80px;
    margin: auto;
    border: 5px solid #f2f2f2;
}

.ifr {
    width: 100%;
}

.dialog-container {
    width: 100%;
    height: auto;
    overflow-y: auto;
    font-size: 16px;
    line-height: 1.5;
    padding: 10px;
    background-color: #f2f2f2;
}

.share-btn {
    cursor: pointer;
    margin-right: 10px;
}

        /* 按钮样式 */
        #setHomepageBtn {
            margin-top: 10px;
            cursor: pointer;
            padding: 8px 16px;
            background-color: #007bff;
            color: #fff;
            border: none;
            border-radius: 4px;
        }

        /* 提示框样式 */
        #homepagePrompt {
            display: none;
            margin-top: 20px;
            padding: 20px;
            background-color: #f2f2f2;
            border: 1px solid #ccc;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }


        #timer {
            font-size: 36px;
            margin-bottom: 20px;
            color: #DC3445;
        }
        
        #progressBar {
            width: 100%;
            height: 20px;
            background-color: #fff;
            border: 1px solid #DC3445;
            position: relative;
            margin-bottom: 20px;
            overflow: hidden;
        }
        
        #progress {
            height: 100%;
            width: 100%;
            background-color: #DC3445;
            position: absolute;
            right: 0;
        }
        
        #startBtn, #addTimeBtn, #restBtn, #stopBtn{
            padding: 10px 20px;
            font-size: 18px;
            cursor: pointer;
        }


@media (min-width: 768px) {
    .two-columns {
        grid-template-columns: repeat(2, 1fr); /* 在大屏幕上显示两列 */
    }
}

@media (max-width: 768px) {
    body {
        flex-direction: column;
    }

    .container{
        width: 100%; /* 在移动端保持100%宽度 */
    }

    .two-columns {
        grid-template-columns: 1fr;
        gap: 10px;
    }
}
