body {
    margin: 10px;
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.main-container {
    flex: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container{
    flex: 1;
    width: 70%; /* 在大屏幕上限制为70%宽度 */
    margin: 10px;
    padding: 20px;
    box-sizing: border-box;
    background-color: #f2f2f2;
}

.timer {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 150%;
    color: purple;
    background: #f2f2f2;
    width: 100%;
    height: 80px;
    text-align: center;
    line-height: 80px;
    margin: auto;
    border: 5px solid #f2f2f2;
}

.ifr {
    width: 100%;
}

.dialog-container {
    width: 100%;
    height: auto;
    overflow-y: auto;
    font-size: 16px;
    line-height: 1.5;
    padding: 10px;
    background-color: #f2f2f2;
}

.share-btn {
    cursor: pointer;
    margin-right: 10px;
}

        /* 按钮样式 */
        #setHomepageBtn {
            margin-top: 10px;
            cursor: pointer;
            padding: 8px 16px;
            background-color: #007bff;
            color: #fff;
            border: none;
            border-radius: 4px;
        }

        /* 提示框样式 */
        #homepagePrompt {
            display: none;
            margin-top: 20px;
            padding: 20px;
            background-color: #f2f2f2;
            border: 1px solid #ccc;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }

@media (max-width: 768px) {
    body {
        flex-direction: column;
    }

    .container{
        width: 100%; /* 在移动端保持100%宽度 */
    }

    .two-columns {
        grid-template-columns: 1fr;
        gap: 10px;
    }
}
